{% extends 'base.html.twig' %}
{% block refrescar %} <meta http-equiv="refresh" content="10" />{% endblock %}
{% block title %}TURNOS{% endblock %}

{% block body %}

    <div class="container">
        <h1>TURNOS</h1>


        {% if tiquets|length>0 %}
            <h2>{{ tiquets[0].getNegocio().getNombre() }}</h2>
            <table class="table table-sm table-responsive-sm table-striped table-dark">
                <tr>

                    <th scope="col">CODIGO</th>
                    <th scope="col">CREACION</th>
                    <th scope="col">ESTADO</th>

                    
                    <th>POSICIÓN</th>
                    
                    <th></th>
                </tr>


                {% set ind = 0 %}
                {% for tiquet in tiquets %}
                    {% if tiquet.getEstado!='DESPACHADO' %}
                        <tr>

                            <td>{{ tiquet.getCodigo() }}</td>

                            <td>{{ tiquet.getCreateAt()|date('d/m/Y - h:i:s') }}</td>
                            <td>{{ tiquet.getEstado() }}</td>
                            
                            <td>
                                {% if tiquet.getEstado!='DESPACHANDO' %} 
                                    {% set ind =ind +1 %}
                                    {{ ind }}


                                {% endif %}

                            </td>
                            
                            <td class="buttons">
                                {% if app.user!=null%}

                                    {% if app.user.role=='ADMINISTRADOR' %}

                                        <button type="button"><a href="{{ path('tiquet_eliminar',{id:tiquet.id}) }}" onclick="return confirm('¿Estás seguro?')" class="btn-pt">Anular</a></button>
                                        <button type="button"><a href="{{ path('tiquet_modificar',{id:tiquet.id}) }}" class="btn-show">Modificar </a></button>
                                        <button type="button"><a href="{{ path('tiquet_imprimir',{id:tiquet.id}) }}" target="_blank" class="btn-show">Imprimir </a></button>

                                    {% elseif app.user.role=='VENDEDOR' and app.user.id==tiquet.negocio.usuario.id %}
                                        <button type="button"> <a href="{{ path('tiquet_eliminar',{id:tiquet.id}) }}" onclick="return confirm('¿Estás seguro?')" class="btn-pt">Anular</a></button>
                                        <button type="button"><a href="{{ path('tiquet_modificar',{id:tiquet.id}) }}" class="btn-show">Modificar </a></button>
                                        <button type="button"> <a href="{{ path('tiquet_imprimir',{id:tiquet.id}) }}"   target="_blank" class="btn-show">Imprimir </a></button>



                                    {% elseif app.user.id==tiquet.usuario.id  %}
                                        <button type="button"> <a href="{{ path('tiquet_eliminar',{id:tiquet.id}) }}" onclick="return confirm('¿Estás seguro?')" class="btn-pt">Anular</a></button>

                                        <button type="button"><a href="{{ path('tiquet_imprimir',{id:tiquet.id}) }}"  target="_blank" class="btn-show">Imprimir </a></button>

                                    {% endif %}


                                {% endif %}



                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <strong>NO HAY CLIENTES A LA ESPERA EN ESTOS MOMENTOS</strong>
        {% endif %}



    </div>
{% endblock %}
