
{% if negocios|length>0 %}
    <table class="table table-striped table-dark">
        <tr>
            <th scope="col">NEGOCIO</th>
            <th scope="col">DESCRIPCIÓN</th>

            <th scope="col"></th>
            <th></th>
        </tr>

        {% for negocio in negocios %}
            <tr>
                <td>{{ negocio.nombre }}</td>

                <td>{{ negocio.descripcion }}</td>
                <td class="buttons">

                    {%if app.user !=null  %}
                        
                        
                        <button type="button"><a href="{{ path('turnos',{id:negocio.id}) }}">Ver Turnos</a></button>
                        <button type="button"><a href="{{ path('sacar_tiquet',{id:negocio.id}) }}" class="btn-pt">Sacar Tique</a></button>
                        
                       
                        {% if negocio.usuario.id==app.user.id or app.user.role=='ADMINISTRADOR' %}
                            
                            
                            <button type="button"><a href="{{ path('modificar_negocio',{id:negocio.id}) }}" class="btn-edit">Editar</a></button>


                            <button type="button"><a href="{{ path('eliminar_negocio',{id:negocio.id}) }}" onclick="return confirm('¿Estás seguro?')" class="btn-delete">Eliminar</a></button>
                        {% endif %}
                    {% endif %}


                </td>
            </tr>

        {% endfor %}
    </table>
{% else %}
    <strong>No hay negocios disponibles en este momento</strong>
{% endif %}
